.container {
    width: 100%;
}

html,
body {
  height:100%;
}

html {
    background: linear-gradient(#191970 25%, #ADD8E6) no-repeat center fixed;
    background-size: cover;
}

header {
	height: 60px;
    padding-top: 50px;
    font-family: sans-serif;
}

header h1 {
	float: left;
    display: inline-block;
	margin-left: 2%;
    border: 0;
    color: #87cefa;
    font-size: 30px;
}


header nav {
    color:#FFFFFF;
    float: right;
    text-decoration: none;
}

header nav ul li {
	float: left;
	display: inline-block;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #87cefa;
}

header nav ul li a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 25px;
	display: inline-block;
	margin-right: 20px;
    border-bottom: none;
    text-decoration-line: none;
}

header .current a {
    color:#87cefa;
}

 @media print {
     #map {
         height: 500px;
         margin: 0;
     }
 }


#map {
    display: inline-block;
    height: 40%;
    width: 40%;
    float: left;
    padding-left: 8%;
    padding-right: 10%;
    margin-left: 2%;
}

#dailyChart{
    height: 40%;
    width: 50%;
    margin-top: 1%;
    float: left;
    padding-left: 6%;
    padding-right: 10%;
}

#hourlyChart{
    height: 40%;
    width: 50%;
    float: left;
    padding-left: 6%;
    padding-right: 10%;
}

#bikeTable {
    display: inline-block;
    width: 30%;
    float: right;
    padding-right: 2%;
    border-collapse: collapse;
    margin: 10px;
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
    margin: 10px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

#city {
    padding-left: 25%;
    padding-right: 10%;
    font-family: sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#temp {
    padding-left: 25%;
    padding-right: 10%;
    font-family: sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#weather_description {
    padding-left: 25%;
    padding-right: 10%;
    font-family: sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#weather_icon img {
    padding-left: 25%;
    padding-right: 10%;
    font-family: sans-serif;
    height:4%;
    width: 4%;
    color: #FFFFFF;
}

thead {
    text-align: left;
    float: left;
}

tbody {
    float: right;
}

thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    background-color: azure;
    border-bottom: 1px solid black;
}

tbody td {
    text-align: center;
    padding: 12px 15px;
}

thead th {
    padding: 12px 15px;
    display: block;
    border-bottom: 1px solid black;
}


tbody tr:nth-of-type(even){
    background-color: aliceblue;
}

#stationSelDiv {
     padding-left: 30%;
    padding-right: 10%;
    margin-left: 2%;
}
#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: "Roboto", "sans-serif";
line-height: 30px;
padding-left: 10px;
}

#right-panel {
font-family: "Roboto", "sans-serif";
line-height: 30px;
padding-left: 10px;
}

#right-panel select,
#right-panel input {
font-size: 15px;
}

#right-panel select {
width: 100%;
}

#right-panel i {
font-size: 12px;
}

#right-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}

#floating-panel {
background: #fff;
padding: 5px;
font-size: 14px;
font-family: Arial;
border: 1px solid #ccc;
box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
display: none;
}


#right-panel {
  float: none;
  width: auto;
}

