.container {
    width: 100%;
}

#map {
    display: inline-block;
    height: 40%;
    width: 45%;
    float: left;
    padding-left: 2%;
}

#bikeTable {
    display: inline-block;
    width: 40%;
    float: right;
    padding-right: 2%;
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

thead {
    text-align: left;
    float: left;
}

tbody {
    float: right;
}

thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    background-color: azure;
    border-bottom: 1px solid black;
}

tbody td {
    text-align: center;
    padding: 12px 15px;
}

thead th {
    padding: 12px 15px;
    display: block;
    border-bottom: 1px solid black;
}


tbody tr:nth-of-type(even){
    background-color: aliceblue;
}
