@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html {
  background-color: white;
  background-size: cover;
  font-family: "Trebuchet MS";
  color: grey;
  height: 100%;
  width: 100%;
}

body {
  font-family: trebuchet ms;
  color: black;
  background-color: white;
  text-align: center;
  height: 90%;
  width: 100%;
}

.container {
  margin: 0 auto;    /* This centers the page in modern browsers */
  text-align: left;  /* This is a hack for older browsers to center the page */
}

header {
  background-color: black;
  text-align: center;
  font-size: 35px;
  color: white;
}

header h1 {
  float: left;
  margin-left: 2%;
  border: 0;
  color: #39FF14;
  font-size: 30px;
}

section {
  display: -webkit-flex;
  display: flex;
  flex-basis: 100%;
}

header nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
}

header nav ul li {
  display: inline-block;
  text-decoration: none;

}

header nav ul li a:hover {
  color: #39FF14;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-decoration-line: none;
}

header .current a {
  color: #39FF14;
  border-bottom: solid 2px lightgrey;
}

.col_sidebar {
   -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  flex-grow: 1.5;
  height:90vh;
  overflow-y: scroll;
  bottom: 0;
  background-color: grey;
  float:left;
  text-align: center;
  border-top: solid 4px white;
}
#dailyChart {
  background-color: black;
  margin:10% auto;
  margin-left:10%;
  margin-right:10%;
  position: center;
}

#hourlyChart {
  background-color: black;
  margin:10% auto;
  margin-left:10%;
  margin-right:10%;
  position: center;
}


#city {
  margin-top: 2px;
  font-family: Poiret One;
  font-size: 20px;
  color: #39FF14;
  background-color: black;
  border: solid 1px lightgrey;
}

#temp {
  font-family: Poiret One;
  font-size: 40px;
  margin-left: 10%;
  color: black;
  float:left;
}

#weather_description {
  font-family: Poiret One;
  font-size: 20px;
  font-weight: bold;
  color: black;

}

#weather_icon img {
  font-family: sans-serif;
  width: 30%;
  height: 30%;


}

#weather_title{
  border-bottom: solid 4px white;
  color:white;
  top: 0;
  background-color:grey;


}

#prediction{
  border-top: solid 4px white;
  color:white;
  top: 0;
  background-color:grey;


}

#right-panel {
  margin-left: 10%;
  width: 30%;
  height: 30%;
  position: relative;
}
#weather_today{
  border-bottom: solid 1px black;
  color:black;
  font-family: "Poiret One";
  font-size: 26px;
}

#weather_section{
  color:#39FF14;
}

div.weather_widget {
  margin: 0 auto;
  min-width: 210px;
  max-width: 210px;
  min-height: 15%;
  max-height: 15%;
  background-color: #fcfdfd;
  box-shadow: 0px 31px 35px -26px #080c21;
  text-align: center;
  color: #39FF14;

}




h2 {
  color: white;
}


#map {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  height:90vh;
  width:100vh;
  background-color: #f1f1f1;
}

#bikeTable {
  border-collapse: collapse;
  font-size: 0.9em;
  color:white;
  margin: 0 auto;
  display: table;


}

.th1 { height: 25%; }


#bikeTable h3{
  margin-top: 10%;
  border-collapse: collapse;
  font-size: 0.9em;
  color:white;


}

thead {
  text-align: left;
  float: left;
}

tbody {
  float: right;
  margin: 0 auto;
}

thead tr {
  background-color: grey;
  color: #39FF14;
  text-align: left;
  font-weight: bold;

}

tbody tr {
  background-color: azure;

}

tbody td {
  text-align: center;
  padding: 12px 15px;
  height: 59.55px;
  /*min-height: 200px;*/
  /*max-height: 200px;*/
  min-width: 122px;
  max-width: 122px;
  color: black;
}

thead th {
  height: 60px;
  padding: 12px 15px;
  display: block;
  border-bottom: 1px solid black;
}

tbody tr:nth-of-type(even) {
  background-color: aliceblue;
}

#chart {
  height: 50%;
  width: 50%;
}



@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

#station_title{
  margin-top: 10%;
  border-top: solid 4px white;



}

#recommendations{
  color:white;
  display: table;
  position: relative;
}

#recommendations thead{
  color:white;
  display: table;

}

#recommendations tbody {
  margin: 0 auto;
}

#recommendations thead tr {
  background-color: grey;
  color: #39FF14;
  text-align: left;
  font-weight: bold;

}

#recommendations tbody tr {
  background-color: azure;
  float:right;

}

#recommendations tbody td {
  text-align: center;
  padding: 12px 15px;
  height: 59.55px;
  /*min-height: 200px;*/
  /*max-height: 200px;*/
  min-width: 122px;
  max-width: 200px;
  display: inline-block;
  border-bottom: 1px solid black;
  float:left;
}

#recommendations thead th {
  height: 60px;
  padding: 12px 15px;
  display: inline-block;
  border-bottom: 1px solid black;
  float:left;
}

#recommendations tbody tr:nth-of-type(even) {
  background-color: aliceblue;
}



.dark-mode {
  background-color: white;
  color: black;
}
