!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>HELLO THERE</title>
    <meta name = "author" content = "wheelieGood">
    <link href="{{ url_for('static', filename ='styles.css') }}" rel = "stylesheet" type = "text/css">
</head>

<body>
<div class="nav_bar">
        <header>
            <h1>Wheelie Good - Dublin Bikes</h1>
		      <nav>
			     <ul>
				    <li><a href="/">Home</a></li>
				    <li><a href="/RoutePlanner.html">Plan your Journey</a></li>
				    <li><a href="/about.html">About Us</a></li>
				    <li class="current"><a href="/contact.html">Contact Us</a></li>
			     </ul>
		      </nav>
            </header>
        </div>
</body>
</html>