<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>HELLO THERE</title>
    <meta name = "author" content = "wheelieGood">
    <link href="{{ url_for('static', filename ='styles.css') }}" rel = "stylesheet" type = "text/css">
</head>

<body>
<div class="nav_bar">
        <header>
            <h1>Wheelie Good - Dublin Bikes</h1>
		      <nav>
			     <ul>
				    <li class="current"><a href="/">Home</a></li>
				    <li ><a href="">Plan your Journey</a></li>
				    <li><a href="about.html">About Us</a></li>
				    <li><a href="contact.html">Contact Us</a></li>
			     </ul>
		      </nav>
            </header>
        </div>

<div id = "city"></div>
<div id = "temp"></div>
<div id = "weather_description"></div>
<div id = "weather_icon"><img id="wicon" src="" alt="Weather icon"></div>


<div id = "map">Loading map...</div>
<div id = "bikeTable"></div>
<div id = "chart"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyC99AyuHEKOKE1VeDkJuM5MKF-RdTIXEAU&callback=initCharts" async></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</body>
</html>



