<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>HELLO THERE</title>
    <meta name = "author" content = "wheelieGood">
</head>

<link href="{{ url_for('static', filename ='style.css') }}" rel = "stylesheet" type = "text/css">
{#<script type="text/javascript" src="{{  url_for('static', filename='app.js') }}"><</script>#}


<h1>hello</h1>
<div id = "map">map</div>

<script>

    let map;

    function initMap() {
        fetch("/bikes").then(response=> {
            return response.json();
        }).then(data => {
            console.log("data:", data)

            map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 53.349804, lng: -6.260310},
                zoom:12,
            });
            
//          Addition of google markers
            data.forEach(bikes => {
                new google.maps.Marker({
                    position: { lat: bikes.pos_lat, lng: bikes.pos_lng},
                    map: map,
                });
            });
        }).catch(err => {
            console.log("OOPS!", err);
        })
    }
</script>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyC99AyuHEKOKE1VeDkJuM5MKF-RdTIXEAU&callback=initMap" async></script>


</body>
</html>
