<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>HELLO THERE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename ='styles.css') }}" rel = "stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class = "container">
<div class="nav_bar">
        <header>
		      <nav id = "header_nav">
                  <h1><i class="fa fa-bicycle" style="font-size:48px;color:lightgrey"></i> Wheelie Good - Dublin Bikes </h1>
			     <ul>
				    <li><a id = "home" href="/">Home</a></li>
				    <li class="current"><a id = "route" href="/RoutePlanner.html">Plan your Journey</a></li>
                     <li><a id = "lightmode"></a><button id = "bulb_button" onclick="myFunction()"><i class="fa fa-lightbulb-o" style="font-size:30px;color:#8d2663;"></i></button></li>
			     </ul>
		      </nav>
            </header>
<section>
    <div id="col_sidebar">
      <div id = "Weather_Title"><h2><i class="fa fa-info-circle" style="font-size:30px;color:#8d2663"></i> Information Panel</h2></div>
<div id="prediction"><h2>Predicting Bike and Station Availability</h2></div>
        <div id="bikeTable"></div>
        <div id="floating-panel"><h2>Directions to Station</h2>
      <strong>Start:</strong>
      <select id="start">
      </select>
      <br />
      <strong>Dest: </strong>
      <select id="end">
       </select>
    </div>
    <div id="right-panel"></div>
    </div>
    <div id="map"></div>
    </section>
</div>
    </div>



    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='planner.js') }}"></script>
      <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyC99AyuHEKOKE1VeDkJuM5MKF-RdTIXEAU&callback=initMap&libraries=&v=weekly" async></script>

<script>function myFunction() {
   var element = document.getElementById("header_nav");
   var element2 = document.getElementById("home");
   var element3 = document.getElementById("route");
   var element5 = document.getElementById("col_sidebar");
   var element6 = document.getElementById("prediction");
   var element7 = document.getElementById("bulb_button");
   element.classList.toggle("dark-mode");
   element2.classList.toggle("dark-mode");
   element3.classList.toggle("dark-mode");
   element5.classList.toggle("dark-mode");
   element6.classList.toggle("dark-mode");
   element7.classList.toggle("dark-mode");
}
</script>

</body>
</html>



